/*!
 * Bootstrap customization
 */

body {
  background-color: #000;
}

.table th,
.table td {
  vertical-align: middle;
}

.checkbox input,
.radio input {
  horizontal-align: middle;
  height: 100%;
}