<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
	        <div class="card mb-3">
	            <div class="card-header" th:text="${title}"></div>
	            <div class="card-block p-0">
       				<p class="m-3" th:if="${meetings} and ${#lists.isEmpty(meetings)}">Keine Termine vorhanden.</p>
	                <div class="table-responsive" th:unless="${meetings} and ${#lists.isEmpty(meetings)}">
	                    <table class="table table-bordered table-hover table-striped table-sm m-0 text-nowrap">
	                        <thead class="">
	                            <tr>
	                                <th th:each="heading : ${headings}" th:text="${heading}"></th>
	                            </tr>
	                        </thead>
							<tbody>
								<tr th:each="meeting : ${meetings}" th:object="${meeting}" th:classappend="*{idMeeting} == ${markedMeetingId} ? table-success">
									<td th:text="*{idMeeting}"></td>
									<td th:text="*{meetingDate}"></td> <!-- TODO *{#calendars.format(meetingDate,'dd MMM yyyy')} -->
									<td th:if="${#lists.contains(headings, 'Gruppe')}" th:text="*{team.teamName}"></td>
									<td th:text="*{description}"></td>
									<td>
										<a th:href="@{${functionEdit} + *{team.idTeam} + '/'+ *{idMeeting}}" class="btn btn-secondary">
											<span class="fa fa-pencil"></span>
										</a>
									</td>
								</tr>
							</tbody>
	                    </table>
	                </div>
	            </div>
	            <div class="card-footer">
	                <div>
	                    <a th:href="@{ ${idTeam} ? ${functionAdd} + ${idTeam} : ${functionAdd} }" class="btn btn-primary">
	                        <span class="fa fa-plus-square-o"></span> Neuer Termin
	                    </a>
	                </div>
	            </div>
	        </div>
	    </main>
	    <footer th:replace="template :: footer"></footer>
	</body>
</html>

