<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
	        <div class="card mb-3">
	            <div class="card-header" th:text="${title}"></div>
	            <div class="card-block p-0">
       				<p class="m-3" th:if="${teams} and ${#lists.isEmpty(teams)}">Keine Gruppen vorhanden.</p>
	                <div class="table-responsive" th:unless="${teams} and ${#lists.isEmpty(teams)}">
	                    <table class="table table-bordered table-hover table-striped table-sm m-0 text-nowrap">
	                        <thead class="">
                          		<tr align="center">
	                                <th th:each="heading : ${headings}" th:text="${heading}"></th>
                            	</tr>
	                        </thead>
							<tbody>
								<tr align="center" th:each="team : ${teams}" th:object="${team}" th:classappend="*{idTeam} == ${markedTeamId} ? table-success">
									<td th:text="*{idTeam}"></td>
									<td th:text="*{teamName}"></td>
									<td>
	                                    <a th:href="@{${functionEdit} + *{idTeam}}" class="btn btn-secondary">
    	                                    <span class="fas fa-pencil-alt"></span>
        	                            </a>
	                                    <a th:href="@{${functionMeetings} + *{idTeam}}" class="btn btn-secondary">
    	                                    <span class="far fa-calendar-alt"></span>
        	                            </a>
	                                    <a th:href="@{${functionPhonelist} + *{idTeam}}" class="btn btn-secondary">
    	                                    <span class="fas fa-phone-square"></span>
        	                            </a>
                                  	</td>
								</tr>
							</tbody>
	                    </table>
	                </div>
	            </div>
	            <div class="card-footer">
	                <div>
	                    <a th:href="@{${functionAdd}}" class="btn btn-primary">
	                        <span class="far fa-plus-square"></span> Gruppe hinzufügen
	                    </a>
	                </div>
	            </div>
	        </div>
	    </main>
	    <footer th:replace="template :: footer"></footer>
	</body>
</html>