/*!
 * Bootstrap customization
 */

/*
 * Custom style for the template template_old.html
 */
/*
body {
	padding-top: 54px;
}
@media (min-width: 992px) {

	body {
	 	padding-top: 56px;
	}
}
*/

/*
 * Background of global page
 */
body {
  background-color: #000;
}



/*
 * Alignment of text in tables vertically centered
 */
.table th,
.table td {
  vertical-align: middle;
}

/* .checkbox input, */
/* .radio input { */
/*   horizontal-align: middle; */
/*   height: 100%; */
/* } */


/* td input[type="checkbox"] { */
/*     float: right; */
/*     margin: 0 auto; */
/*     width: 100%; */
/* } */