<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de">
	
		<title>PG Anwesenheitsliste</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		
		<link rel="stylesheet" media="screen"
			th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />		
<!-- 		<link rel="stylesheet" media="screen" -->
<!-- 			th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" /> -->

		
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
				
	</head>
	
	<body>
	
		<h1>Krasser Type!</h1>
		<h2>Joonge</h2>
		<p>asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf </p>
			
	</body>
	
</html>