<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
			<!-- Page Content -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1 class="mt-5">Anwesenheitserfassung PG</h1>
						<p class="lead">Willkommen im Tool zur Erfassung der Anwesenheiten für Kreise der PG-Gemeinde.</p>
						<p class="lead">Diese Webseite wird privat zur Verfügung gestellt.</p>
					</div>
				</div>
			</div>
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>