<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

	<head lang="de" th:fragment="header">
	
		<title>PG Anwesenheitsliste</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale = 1.0, user-scalable = no">
		<meta name="description" content="Werkzeug zur Erfassung von Anwesenheiten bei Jugendveranstaltungen der Paul-Gerhardt Gemeinde Bruchsal">
		<meta name="author" content="derBobby">
	
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />				
		<link rel="stylesheet" media="screen" th:href="@{/webjars/font-awesome/css/all.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/css/custom.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/sbadmin/css/sb-admin.css}" />
		
		<script th:src="@{/webjars/jquery/jquery.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
		<script th:src="@{/sbadmin/js/sb-admin.js}"></script>
		
	</head>
	
	<body id="page-top">
	
		<!-- Navigation -->		
		<nav th:fragment="nav" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		
			<a class="navbar-brand" href="/" "PG Anwesenheit">PG</a>
	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#anwNavbar" aria-controls="anwNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="anwNavbar">
				<div class="navbar-nav">

				<!-- START user -->
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-target="#userDropdown" aria-controls="userDropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-child"></i>
						<span>Erfassung</span>
					</a>
					<div id="userDropdown" class="dropdown-menu" aria-labelledby="userDropdown">
						<a class="dropdown-item" th:href="@{${URL_TEAMLIST}}"><i class="fas fa-users"></i> Gruppen</a>
					</div>
				<!-- END user -->

				<!-- START admin -->
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-target="#adminDropdown" aria-controls="adminDropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user-tie"></i>
						<span>Administration</span>
					</a>
					<div id="adminDropdown" class="dropdown-menu" aria-labelledby="adminDropdown">
						<h6 class="dropdown-header">Administration</h6>
						<a class="dropdown-item" th:href="@{${URL_PARTICIPANTLIST}}"><i class="fas fa-child"></i> Teilnehmer</a>
						<a class="dropdown-item" th:href="@{${URL_USERLIST}}"><i class="fas fa-user"></i> Benutzer</a>
						<a class="dropdown-item" th:href="@{${URL_MEETINGLISTFULL}}"><i class="far fa-calendar-alt"></i> Alle Termine</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Übersichten</h6>
						<a class="dropdown-item" th:href="@{${URL_PERMISSIONSOVERVIEW}}"><i class="far fa-eye"></i> Berechtigungen</a>
						<a class="dropdown-item" th:href="@{${URL_PARTICIPATIONOVERVIEW}}"><i class="far fa-eye"></i> Teilnahmen</a>
					</div>
				<!-- END admin -->

				<!-- START account -->
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-target="#accountDropdown" aria-controls="accountDropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user-circle fa-fw"></i>
						<span>Account</span>
					</a>
					<div id="accountDropdown" class="dropdown-menu" aria-labelledby="accountDropdown">
						<a class="dropdown-item disabled" href="#"><i class="fas fa-list-ul"></i> Aktivitäten</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Account</h6>
						<a class="dropdown-item disabled" href="#"><i class="fas fa-user-circle fa-fw"></i> Einstellungen</a>
						<a class="dropdown-item" th:href="@{${URL_LOGOUT}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</div>
				<!-- END account -->
				
				<!-- START public-->
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"  data-target="#infoDropdown" aria-controls="infoDropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-info-circle"></i>
						<span>Info</span>
					</a>
					<div id="infoDropdown" class="dropdown-menu" aria-labelledby="infoDropdown">
						<a class="dropdown-item" th:href="@{${URL_ABOUT}}"><i class="fas fa-globe"></i> About</a>
						<a class="dropdown-item" th:href="@{${URL_PRIVACY}}"><i class="fas fa-mask"></i> Privacy</a>
					</div>
				<!-- END public-->

				</div>
			</div>
	
		</nav>						 				

		<footer th:fragment="footer">
			<div class="container text-center text-muted">
				<p>derBobby © 2019</p>
				<p><a th:href="@{${URL_ABOUT}}">About</a> | <a th:href="@{${URL_PRIVACY}}">Privacy</a></p>
			</div>
			<div th:if="${mysession} != null" class="container text-center text-muted">
				<p th:inline="text">SESSION: [[${session}]]</p>
			</div>
			
			<div th:if="${auth} != null" class="container text-center text-muted">
				<p th:inline="text">NAME: [[${auth.name}]]</p>
			</div>

			<div th:if="${auth} != null" class="container text-center text-muted">
				<p th:inline="text">PRINCIPAL: [[${auth.principal}]]</p>
			</div>

			<div th:if="${auth} != null" class="container text-center text-muted">
				<p th:inline="text">CREDENTIALS: [[${auth.credentials}]]</p>
			</div>
			
			<div th:if="${auth} != null" class="container text-center text-muted">
				<p th:inline="text">AUTHORITIES: [[${auth.Authorities}]]</p>
			</div>

			<div th:if="${auth} != null" class="container text-center text-muted">
				<p th:inline="text">DETAILS: [[${auth.details}]]</p>
			</div>
		</footer> 
		
	</body>
	
</html>