<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
	        <div class="card mb-3">
    			<form action="#" th:action="@{/meetingdetail}" th:object="${meeting}" method="post">
    				<input type="hidden" th:field="*{idMeeting}" />
	            	<div class="card-header" th:text="${title}"></div>
		            <div class="card-block p-3">


		                <div class="form-group">
             				<label for="team">Gruppe</label> <!--TODO field no effect -->
							<select th:field="*{team}" class="custom-select form-control"> <!-- disabled="disabled"  -->
								<option selected style="display:none" value="">Gruppe wählen</option>
								<option th:each="team : ${teams}" th:value="${team.idTeam}" th:text="${team.teamName}" class="custom-select form-control"></option>
           					</select>
        					<span th:errors="*{team}" class="text-warning"></span>
		                </div>

		                <div class="form-group">
            				<label for="meetingDate">Datum</label>
            				<div class="input-group date" id="datepicker">
    							<input th:field="*{meetingDate}" th:value="*{meetingDate}" type="date" class="form-control" />
    							<div class="input-group-append">
									<span class="input-group-text"><i class="fa fa-calendar"></i> </span>
    							</div>
							</div>
							<span th:errors="*{meetingDate}" class="text-warning"></span>
 							<script type="text/javascript">
 								$('#datepicker').datepicker();
 								$('#datepicker').on('changeDate', function() {
 								    $('#meetingDate').val(
 								        $('#datepicker').datepicker('getFormattedDate')
 								    );
 								});
 							</script>
		                </div>
		                
						<div class="form-group">
							<label th:for="description">Beschreibung / Kommentar</label>
							<input th:field="*{description}" class="form-control" />
							<span th:errors="*{description}" class="text-warning"></span>
                 		</div>		                

						<div class="form-group">
            				<label>Teilnehmer</label>
							<div th:each="participant : ${participants}" class="custom-control custom-checkbox">
						  		<input type="checkbox" th:id="${#ids.seq('participant')}" th:field="*{participants}" th:value="${participant.idParticipant}" class="custom-control-input" th:disabled="${not participant.isActive}" />
						  		<label th:for="${#ids.prev('participant')}" class="custom-control-label" th:inline="text">[[${participant.firstName}]] [[${participant.lastName}]]</label>
							</div>
						</div>						
	            	</div>
		            <div class="card-footer">
		                <div class="btn-group">
		                	<input type="submit" th:value="*{team} ? 'Termin ändern' : 'Termin hinzufügen'" id="submit" class="btn btn-primary"  />
		              		<a th:href="*{team} ? @{'/meetinglist/forteam/' + *{team.idTeam}} : @{'/meetinglist/full'}" class="btn btn-secondary">
		                        <i class="fa fa-times"></i> 
		                    </a>
		                </div>
	                </div>
                </form>
            </div>
	    </main>
	    <footer th:replace="template :: footer"></footer>
	</body>
</html>




            

            