<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
	        <div class="card mb-3">
    			<form action="#" th:action="${formAction}" th:object="${meeting}" method="post">
    				<input type="hidden" th:field="*{idMeeting}" />
	            	<div class="card-header" th:text="${title}"></div>
	            	<div class="card-block p-3">
		                <div class="form-group">
             				<label for="team">Gruppe</label> <!--TODO field no effect -->
							<!-- Not applicapable with "th:selected" :   th:field="*{team}" -->
							<select th:id="team" th:name="team" class="custom-select form-control">
								<option th:if="*{team} == null" selected style="display:none" value="">Gruppe wählen</option>
								<option th:each="team : ${teams}" th:selected="${teams.size() == 1}" th:value="${team.idTeam}" th:text="${team.teamName}" class="custom-select form-control"></option>
           					</select>
           					<span th:errors="*{team}" class="text-warning"></span>
		                </div>
		                <div class="form-group">
            				<label for="meetingDate">Datum</label>
            				<div class="input-group date" id="datepicker">				   <!--  date -->
    							<input th:field="*{meetingDate}" th:value="*{meetingDate}" type="date" class="form-control" />
    							<div class="input-group-append">
									<span class="input-group-text"><i class="far fa-calendar-alt"></i> </span>
    							</div>
							</div>
							<span th:errors="*{meetingDate}" class="text-warning"></span>
		                </div>
						<div class="form-group">
							<label th:for="description">Beschreibung / Kommentar</label>
							<input th:field="*{description}" class="form-control" />
							<span th:errors="*{description}" class="text-warning"></span>
                 		</div>		
						<div th:unless="${#lists.isEmpty(participants)}" class="form-group">
            				<label>Teilnehmer des Termins</label>
							<div th:each="participant : ${participants}" class="custom-control custom-checkbox">
						  		<input type="checkbox" th:id="${#ids.seq('participant')}" th:field="*{participants}" th:value="${participant.idParticipant}" class="custom-control-input" th:disabled="${not participant.isActive}" />
						  		<label th:for="${#ids.prev('participant')}" class="custom-control-label" th:inline="text">[[${participant.firstName}]] [[${participant.lastName}]]</label>
							</div>
						</div>						
	            	</div>
		            <div class="card-footer">
		                <div class="btn-group">
		                	<input type="submit" th:value="${#lists.isEmpty(participants)} ? ${'Weiter'} : (*{idMeeting} ? ${'Termin ändern'} : ${'Termin hinzufügen'})" id="submit" class="btn btn-primary"  />
		              		<a th:href="@{*{team} ? ${formCancel} : ${formCancel}}" class="btn btn-secondary">
		                        <i class="fas fa-times"></i> 
		                    </a>
		                </div>
	                </div>
                </form>
            </div>
	    </main>
	    <footer th:replace="template :: footer"></footer>
	</body>
</html>




            

            